@media screen and (max-width: 768px) {
    /* body {
        background-color: black;
    } */

    .main_container {
        width: 100wh;
        /* border: 1px solid rgb(255, 255, 255); */
    }

    .main_container .row1 {
        height: 800px;
        /* border: 1px solid rgb(255, 225, 0); */
        display: flex;
        flex-direction: column;

    }

    .main_container .row1 .left-col {
        height: 320px;
        background-color: #0015ff;
        width: 100%;
    }

    .main_container .row1 .right-col {
        margin-left: 0px;
        margin-top: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
        column-gap: 10px;
    }

    /* .right-col .first_row,
    .right-col .second_row {
        display: flex;
        justify-content: space-between;
    } */

    .right-col .rows {
        width: 445px;
        background-color: #0015ff;
        height: 220px;
    }

    /* ---------------------------- Row 2 ---------------------------- */

    .main_container .row2 {
        margin: 20px 0px;
        height: 250px;
        /* border: 1px solid rgb(255, 0, 0); */
        background-color: red;
    }

    /* ---------------------------- Row 3 ---------------------------- */

    .main_container .row3 {
        display: flex;
        justify-content: space-between;
    }

    .main_container .row3 .rows {
        width: 320px;
        height: 220px;
        background-color: aqua;
    }

}

/* ------------------------ Mobile Device ------------------------  */

@media screen and (max-width: 576px) {
    /* body {
        background-color: rgb(237, 198, 0);
    } */

    .main_container {
        width: 100wh;
        /* border: 1px solid rgb(255, 255, 255); */
    }

    .main_container .row1 {
        height: 800px;
        /* border: 1px solid rgb(255, 225, 0); */
        display: flex;
        flex-direction: column;

    }

    .main_container .row1 .left-col {
        /* height: 320px;
        background-color: #0015ff;
        width: 100%; */
        display: none;
    }

    .main_container .row1 .right-col {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
    }

    .right-col .rows {
        width: 650px;
        height: 300px;
        background-color: #0015ff;
    }


    /* ---------------------------- Row 2 ---------------------------- */

    .main_container .row2 {
        /* margin: 20px 0px;
        height: 250px;
        border: 1px solid rgb(255, 0, 0);
        background-color: red; */
        display: none;
    }

    /* ---------------------------- Row 3 ---------------------------- */

    .main_container .row3 {
        margin-top: 250px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main_container .row3 .row3_rows {
        margin-top: 20px;
        width: 650px;
        height: 300px;
        background-color: aqua;
    }

}