* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_container {
    margin: 20px;
    width: 1400px;
    /* border: 1px solid black; */
}

/* ---------------------------- Row 1 ---------------------------- */
.main_container .row1 {
    height: 400px;
    width: 1360px;
    /* border: 1px solid rgb(255, 0, 0); */
    display: flex;

}

.main_container .row1 .left-col {
    height: 400px;
    background-color: #0015ff;
    width: 450px;
}

.main_container .row1 .right-col {
    margin-left: 20px;
    height: 400px;
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
    /* border: 1px solid rgb(0, 8, 255); */
}

.right-col .rows {
    width: 290px;
    background-color: #0015ff;
    height: 190px;
}

/* ---------------------------- Row 2 ---------------------------- */

.main_container .row2 {
    width: 1360px;
    margin: 20px 0px;
    height: 300px;
    /* border: 1px solid rgb(255, 0, 0); */
    background-color: red;
}

/* ---------------------------- Row 3 ---------------------------- */

.main_container .row3 {
    width: 1360px;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rgb(255, 0, 0); */
}

.main_container .row3 .row3_rows {
    width: 320px;
    height: 350px;
    background-color: aqua;
}